 
@{
    Layout = null;

}
@model ViewDataDictionary<HandleErrorInfo>
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>sorry页面出错啦~</title>
    <meta name="keywords" content="错误页面">

</head>

<body>
    <h2>sorry,您访问的页面出错啦~~</h2>
    <div>
        @Model.Model.Exception.ToString()
    </div>
</body>

</html>

