.atrimg {
    width: 50px;
    height: 50px;
}

.sky-footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    text-align: center;
    background-color: whitesmoke;
    padding: 11px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.abt-ablut {
    border: 1px solid #40e0d0;
    border-top-width: 0;
    height: 500px;
}

.item-other {
    height: 120px;
    padding-left: 22px;
}

.article-img a img {
    width: 200px;
    height: 120px;
    box-shadow: 10px 10px 5px grey;
}

.article-img {
    float: left;
}

@media screen and ( max-width: 414px) {
    .sky-footer {
       display: none!important
           /*表示优先级最好*/
    }
}
@media screen and ( max-width: 414px) {
    .article-img a img {
        width: 80px;
        height: 62px;
    }
}

.item-other h3 {
    margin-top: 0;
}

    .item-other h3 a {
        color: #262627;
        font: 800 20px/29px "微软雅黑";
    }

        .item-other h3 a:hover {
            color: red;
        }

.other-share {
    position: absolute;
    bottom: 0;
    line-height: 0;
    height: 6px;
}

.active {
    color: blue;
}

.introduction pre {
    background-color: #2D3949;
}

.introduction code {
    color: white;
}

.navbar-brand img {
    width: 20px;
    height: 17px;
    -webkit-transform: rotate(-40deg);
}

.navbar a {
    font-style: initial;
    text-shadow: 5px 5px 4px #9a9595;
}

.tagBall {
    height: 500px;
    margin: 50px auto;
    position: relative;
}

.tag {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-family: "微软雅黑";
    font-weight: bold;
}

    .tag:hover {
        border: 1px solid #666;
    }

.navbar li:hover {
    background-color: #ea4a4a;
}
/*.article-title { font-weight:700;}*/
.item-other feeds-item-text1 {
    overflow: hidden;
}

.gotop {
    width: 50px;
    height: 50px;
    position: fixed; /* 固定 */
    top: 98%; /* 离顶部50% */
    left: 50%; /* 离左边50% */
    margin-left: 600px; /*计算页面的实际宽度除以2做一个负左边距 */
    margin-top: -125px; /* 计算按钮组的实际高度除以2做一个负上边距*/
}

    .gotop :hover {
        background-color: greenyellow;
    }

.wz img {
    max-width: 100% !important;
}

.wz {
    font-family: sans-serif;
    color: #000000;
    font-size: 16px;
}

.art-title h1 {
    color: #00bfff;
    font-size: 26px;
    font-weight: 700;
    /*margin-bottom: 28px;*/
    text-align: left;
    /*line-height: 36px;*/
}
/*.art-det-right{ position: fixed;left: 65%;top:10%}*/
.btntag {
    background-color: #00bfff;
    margin: 5px 2px;
    float: left;
}
.btntag:hover {
    background-color:chartreuse;
}

.btntag a {
    color: white !important;
    text-decoration: none;
}
.article-div {
    padding-bottom: 9px;
    padding: 15px 0;
    border-bottom: 1px solid #eeeeee;
}

    .article-div:hover {
        background: #edf0f6;
    }

.pc-mark {
    position: absolute;
    top: 1px;
    left: 15px;
    display: block;
    padding: 0 .5rem;
    color: #fff;
    background: rgba(0,0,0,.5);
    font-size: 12px;
    text-align: center;
    border-radius: 1rem;
    z-index: 999;
}

.list-content .pro-list .all .divli {
    width: 350px;
    height: 120px;
    border: 1.5px solid #e6e6e6;
    border-radius: 6px;
    background-color: #fff;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-right: 0;
}

    .list-content .pro-list .all .divli:hover {
        background-color: cornsilk;
    }

.list-content img {
    width: 110px;
    height: 110px;
    float: right;
    margin-top: 5px;
}

.list-content .content-mask {
    display: none;
}

.list-content {
    padding-top: 30px;
}

    .list-content .name {
        font-weight: bold;
    }

    .list-content .info {
        font-size: 12px;
    }


    .list-content .type {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        padding: 0 .5rem;
        color: #fff;
        background: rgba(0,0,0,.5);
        font-size: 12px;
        text-align: center;
        border-radius: 1rem;
        z-index: 999;
    }

    .list-content .collect {
        position: absolute;
        bottom: 0;
        right: 120px;
        display: block;
        padding: 0 .5rem;
        color: #fff;
        background: rgba(0,0,0,.5);
        font-size: 12px;
        text-align: center;
        z-index: 999;
    }

    .list-content p {
        margin: 0;
    }

    .list-content .menu-warp {
        width: 100%;
        float: left;
        margin-bottom: 20px;
        padding-right: 50px;
    }

        .list-content .menu-warp ul li {
            float: left;
            margin-bottom: 14px;
            margin-right: 5px;
            display: list-item;
            text-align: center;
            list-style: none;
        }

            .list-content .menu-warp ul li:hover a {
                color: #fff;
                background-color: #28a84f;
            }

            .list-content .menu-warp ul li.cur a {
                color: #fff;
                background-color: #28a84f;
            }

            .list-content .menu-warp ul li a {
                color: #333;
                font-size: 16px;
                padding: 3px 12px;
            }

.mytitleinfo {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    text-align: right;
}

.myitemhead {
    background-color: #edf0f6;
}

.article-div img:hover {
    transform: scale(1.1);
}

.mylinks img{
    width:40px;
   height:40px;
    margin-right: 8px;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
   
}
.mylinks img:hover{
      -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
}
.mylinksitem {
   padding:10px 5px;
} 