@{
    ViewBag.Title = "个人私有库";
    ViewBag.Keywords = "个人私有库,个人博客,私有库,网络日志,个人库,个人站,优秀博客";
    ViewBag.Description = "个人私有库提供个人喜爱的文章进行阅读和收藏,部分来自网友转载,也有部分是站长写爬虫采集而来,同时在各自文章页面提供内容分享。";
}
@using Webdiyer.WebControls.Mvc;
@model IPagedList<MySiyouku.Models.ArticleListDto>



<script type="text/javascript">
    window.onload = function () {
    
        var dazi = document.getElementById('dazi');
        //var msg = "目前本站内容都是写爬虫采集而来，非原创，网站还在搭建中.....，不过可以在留言板给出您的建议 或意见 ，蟹蟹、<br/>—生活不止眼前的苟且,还有鼠标和键盘-_-";

        var msg = "我相信有一份好奇，加上一点点努力，我们一定能从“一无所知”走向“知道一点点”，然后是“知道一些”，这样慢慢地积累，说不定有一天突然发现，原来我也可以站着巨人的肩膀上，原来我真的已经站着巨人的肩膀上。到那时，我们一定已经开始新的旅程了，那将是真正具备创造性的工作，到那一天，请不要忘记，一切都是从好奇开始。";
        var len = msg.length;
        var seq = 0;
        var speed = 200;
        var timeId = null;
        function daziStart() {
            dazi.innerHTML = msg.substring(0, seq) + '_';
            if (seq <= len) {
                seq++;
                timeId = setTimeout(daziStart, speed);
            } else {
                setTimeout(function () {
                    dazi.innerHTML = msg.substring(0, seq);
                }, 800);
            }
        }
        daziStart();
    }

    $(function () {
        $('.carousel').carousel();
        var arr = ["label-default", "label-primary", "label-success", "label-info", "label-warning", "label-danger"];
        var el = $(".share-article li span");
        var el2 = $(".divtagsyun span");
        //console.info(el);
        el.each(function (index, element) {
            var n = Math.floor(Math.random() * arr.length + 1) - 1;
            element.setAttribute('class', 'label ' + arr[n]);
        });
        el2.each(function (index, element) {
            var n = Math.floor(Math.random() * arr.length + 1) - 1;
            element.setAttribute('class', 'label ' + arr[n]);
        });
 
    });
</script>

<!--主站介绍横幅!!!!!!!!!!!! -->
<div class="myjumbotron  hidden-xs" style="background-image: url(http://img.siyouku.cn/img388.jpg); background-repeat: no-repeat; background-size: 100% 100%; ">
    <div class="container">

        <div class="row-fluid">

            <div class="span12">

                <div class="carousel slide" id="myCarousel">

                    <div class="carousel-inner">
                    @{Html.RenderAction("GetCarousel", new { page=1,size=4 });}
 
                    @{Html.RenderAction("GetCarousel", new { page=2,size=4 });}
                    @{Html.RenderAction("GetCarousel", new { page=3,size=4 });}
                      

                    </div>

                    <a data-slide="prev" href="#myCarousel" class="left carousel-control left-bj hidden-xs" id="sever-prev">

                        <span id="prev-nav" class="glyphicon glyphicon-chevron-left glyphicon-triangle-left" aria-hidden="true"></span>

                    </a>

                    <a data-slide="next" href="#myCarousel" class="right carousel-control left-bj hidden-xs" id="sever-next">

                        <span id="next-nav" class="glyphicon glyphicon-chevron-right glyphicon-triangle-right" aria-hidden="true"></span>

                    </a>

                    <div class="control-box hidden-lg">

                        <a data-slide="prev" href="#myCarousel" class="left carousel-control left-bj">‹</a>

                        <a data-slide="next" href="#myCarousel" class="right carousel-control left-bj">›</a>

                    </div><!-- /.control-box -->

                </div><!-- /#myCarousel -->


            </div><!-- /.span12 -->

        </div><!-- /.row -->

    </div><!-- /.container -->

</div>
<!--文章!!!-->
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-9  ">
            <div class="articles" id="articles">
                @Html.Partial("_ArticleList", Model)
            </div>
        </div>

        <div class="col-md-3 animated bounceInLeft">

            @{Html.RenderAction("GetToP", new { count = 8 });}
            @{Html.RenderAction("GetLink", new { count = 10 });}
            @{Html.RenderAction("GetTags", new { count =40});}
        </div>
    </div>
    @*@{Html.RegisterMvcPagerScriptResource();}*@

</div>
