
@{
    ViewBag.Title = "3D标签云";

}
<script>
    $(function () {
        var arr = ["btn-primary", "btn-default", "btn-success", "btn-info", "label-warning", "label-danger"];
        var el = $(".tagBall a");
        //console.info(el);
        el.each(function (index, element) {
            var n = Math.floor(Math.random() * arr.length + 1) - 1;
            element.setAttribute('class', 'btn ' + arr[n]);
        });

    });
   
</script>
 @model List<MySiyouku.Models.ViewModel.TagsVm>
<div class="container">
    <div class="row">
        <div class="col-md-9  ">
            <div class="tagBall">
                @foreach (var item in Model)
                {
                    <div class="btntag animated bounceInDown" ><a class="btn btn-primary" href="@Url.Action("Index", "Home", new {TagName = item.CatName})">@item.CatName 
                        <span class="badge">@item.ArticleCount</span>
                    </a> </div>
                }
            </div>
        </div>
    
        <div class="col-md-3 animated bounceInLeft">
            @{Html.RenderAction("GetToP","Home", new { count = 8 });}
            @{Html.RenderAction("GetLink", new { count = 10 });}
        </div>
    </div>
   
</div>
 
 