
@{
    ViewBag.Title = "Animation";
}
<style>
    .buttons {
        float: right
    }
    .imgdiv{
        position:fixed;
        left:20%;
        top: 25%;
        z-index:9999
    }
    .buttons button {
        margin-top: 5px;
    }
</style>
<script>
    $(function() {
        $("#sky-footer").hide();
        $(".buttons button").click(function () {
            var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
            //layer.msg($(this).text());
            $("#demoimg").removeClass();
            clearTimeout();
            $("#demoimg").addClass("animated " + $(this).text()).one(animationEnd, function () {
                $("#demoimg").removeClass();
            });
           //setTimeout(removeClass, 2000);        });
    });

    function removeClass() {
        $("#demoimg").removeClass();
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="imgdiv">
                <div id="demoimg" class="animated infinite bounce">
                    <img style="width: 200px; height: 200px;" src="http://img.siyouku.cn/img24.jpg" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="buttons">
                <div class="page-header">Specials</div>
                <button class="btn btn-primary">hinge</button>
                @*<button class="btn btn-primary">jackInTheBox</button>*@
                <button class="btn btn-primary">rollIn</button>
                <button class="btn btn-primary">rollOut</button>

                <div class="page-header">Attention Seekers</div>
                <button class="btn btn-primary">bounce</button>
                <button class="btn btn-primary">flash</button>
                <button class="btn btn-primary">pulse</button>
                <button class="btn btn-primary">rubberBand</button>
                <button class="btn btn-primary">shake</button>
                <button class="btn btn-primary">swing</button>
                <button class="btn btn-primary">tada</button>
                <button class="btn btn-primary">wobble</button>
                <button class="btn btn-primary">jello</button>

                <div class="page-header">Bouncing Entrances</div>
                <button class="btn btn-primary">bounceIn</button>
                <button class="btn btn-primary">bounceInDown</button>
                <button class="btn btn-primary">bounceInLeft</button>
                <button class="btn btn-primary">bounceInRight</button>
                <button class="btn btn-primary">bounceInUp</button>

                <div class="page-header">Bouncing Exits</div>
                <button class="btn btn-primary">bounceOut</button>
                <button class="btn btn-primary">bounceOutDown</button>
                <button class="btn btn-primary">bounceOutLeft</button>
                <button class="btn btn-primary">bounceOutRight</button>
                <button class="btn btn-primary">bounceOutUp</button>

                <div class="page-header">Fading Entrances</div>
                <button class="btn btn-primary">fadeIn</button>
                <button class="btn btn-primary">fadeInDown</button>
                <button class="btn btn-primary">fadeInDownBig</button>
                <button class="btn btn-primary">fadeInLeft</button>
                <button class="btn btn-primary">fadeInLeftBig</button>
                <button class="btn btn-primary">fadeInRight</button>
                <button class="btn btn-primary">fadeInRightBig</button>
                <button class="btn btn-primary">fadeInUp</button>
                <button class="btn btn-primary">fadeInUpBig</button>

                <div class="page-header">Fading Exits</div>
                <button class="btn btn-primary">fadeOut</button>
                <button class="btn btn-primary">fadeOutDown</button>
                <button class="btn btn-primary">fadeOutDownBig</button>
                <button class="btn btn-primary">fadeOutLeft</button>
                <button class="btn btn-primary">fadeOutLeftBig</button>
                <button class="btn btn-primary">fadeOutRight</button>
                <button class="btn btn-primary">fadeOutRightBig</button>
                <button class="btn btn-primary">fadeOutUp</button>
                <button class="btn btn-primary">fadeOutUpBig</button>

                <div class="page-header">Flippers</div>
                <button class="btn btn-primary">flip</button>
                <button class="btn btn-primary">flipInX</button>
                <button class="btn btn-primary">flipInY</button>
                <button class="btn btn-primary">flipOutX</button>
                <button class="btn btn-primary">flipOutY</button>

                <div class="page-header">Lightspeed</div>
                <button class="btn btn-primary">lightSpeedIn</button>
                <button class="btn btn-primary">lightSpeedOut</button>

                <div class="page-header">Rotating Entrances</div>
                <button class="btn btn-primary">rotateIn</button>
                <button class="btn btn-primary">rotateInDownLeft</button>
                <button class="btn btn-primary">rotateInDownRight</button>
                <button class="btn btn-primary">rotateInUpLeft</button>
                <button class="btn btn-primary">rotateInUpRight</button>

                <div class="page-header">Rotating Exits</div>
                <button class="btn btn-primary">rotateOut</button>
                <button class="btn btn-primary">rotateOutDownLeft</button>
                <button class="btn btn-primary">rotateOutDownRight</button>
                <button class="btn btn-primary">rotateOutUpLeft</button>
                <button class="btn btn-primary">rotateOutUpRight</button>

                <div class="page-header">Sliding Entrances</div>
                <button class="btn btn-primary">slideInUp</button>
                <button class="btn btn-primary">slideInDown</button>
                <button class="btn btn-primary">slideInLeft</button>
                <button class="btn btn-primary">slideInRight</button>

                <div class="page-header">Sliding Exits</div>
                <button class="btn btn-primary">slideOutUp</button>
                <button class="btn btn-primary">slideOutDown</button>
                <button class="btn btn-primary">slideOutLeft</button>
                <button class="btn btn-primary">slideOutRight</button>

                <div class="page-header">Zoom Entrances</div>
                <button class="btn btn-primary">zoomIn</button>
                <button class="btn btn-primary">zoomInDown</button>
                <button class="btn btn-primary">zoomInLeft</button>
                <button class="btn btn-primary">zoomInRight</button>
                <button class="btn btn-primary">zoomInUp</button>

                <div class="page-header">Zoom Exits</div>
                <button class="btn btn-primary">zoomOut</button>
                <button class="btn btn-primary">zoomOutDown</button>
                <button class="btn btn-primary">zoomOutLeft</button>
                <button class="btn btn-primary">zoomOutRight</button>
                <button class="btn btn-primary">zoomOutUp</button>




                <div class="page-header"></div>
            </div>
        </div>
        </div>
</div>