
@{
    ViewBag.Title = "跨域测试";
}

<script type="text/javascript">
    $(function() {
        $("#btngo").click(function () {
            var url = "http://localhost:33365/api/values";
            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    $("#textdemo").text(JSON.stringify(result));
                    console.info(result);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    $("#textdemo").text(textStatus);
                }
            });
        });



        $("#btngo1").click(function () {
            var url = "http://localhost:33365/api/values/get?id=7";
            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    console.info(result);
                    $("#textdemo").text(JSON.stringify(result));

                },
                error: function (jqXhr, textStatus, errorThrown) {
                    $("#result").text(textStatus);
                    $("#textdemo").text(textStatus);
                }
            });
        });
    });
   
</script>
<div class="container">
    <input type="button" class="btn btn-primary" id="btngo" value="请求跨域" />
    <input type="button" class="btn btn-primary" id="btngo1" value="请求跨域1" />
    <p><textarea id="textdemo" style="width: 600px;height:200px"></textarea></p>
</div>
