
@{
    ViewBag.Title = "余文清的简历";
}


<style type="text/css">
    .tlb {
        word-wrap: break-word;
        table-layout: fixed;
    }

    .maintable {
        width: 650px;
        border-collapse: collapse;
        border-spacing: 0;
        border-left: 1px solid #C4C4C4;
        border-top: 1px solid #C4C4C4;
    }

    table {
        display: table;
        border-collapse: separate;
        border-spacing: 2px;
        border-color: grey;
    }

    .maintable td {
        overflow: hidden;
        border-right: 1px solid #C4C4C4;
        border-bottom: 1px solid #C4C4C4;
        padding-left: 3px;
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 23px;
        FONT-SIZE: 12px;
        FONT-STYLE: normal;
        FONT-WEIGHT: normal;
    }

    .tc {
        background-color: #fdebdf;
        text-align: center;
        FONT-WEIGHT: normal;
    }
</style>
<div class="container">
    <div class="page-header"><span class="center-align">wenqing的个人简历</span></div>
    <table width="650" class="maintable tlb" cellpadding="0" cellspacing="0" bordercolorlight="#C4C4C4"
           bgcolor="#F8F8F8" align="center" id="maintable_95013106">
        <tbody>
            <tr class="tc">
                <td style="width:74px;height:0px;" class="tc"></td>
                <td style="width:38px;" class="tc"></td>
                <td style="width:111px;" class="tc"></td>
                <td style="width:74px;" class="tc"></td>
                <td style="width:55px;" class="tc"></td>
                <td style="width:55px;" class="tc"></td>
                <td style="width:21px;" class="tc"></td>
                <td style="width:47px;" class="tc"></td>
                <td style="width:47px;" class="tc"></td>
                <td style="width:87px;" class="tc"></td>
            </tr>
            <tr>
                <td colspan="10" class="tt">
                    @*wenqing的简历<span class="pblue"></span>*@
                </td>
            </tr>
        </tbody>
        <tbody id="contact_95013106">
            <tr>
                <td width="12%" class="tc">姓&nbsp;&nbsp;&nbsp;&nbsp;名：</td>
                <td width="24%" colspan="2" id="NAME_95013106">余文清</td>
                <td width="12%" class="tc">出生日期：</td>
                <td width="18%" colspan="2">1992-04-27/25岁</td>
                <td width="12%" colspan="2" class="tc">
                    性&nbsp;&nbsp;&nbsp;&nbsp;别：
                </td>
                <td width="8%">男</td>
                <td width="14%" rowspan="5" align="center" valign="top" style="padding:0px;margin:0px;">
                  <img style="width:91px;height:116px" src="http://img.siyouku.cn/IMG_3985.JPG" />
                </td>
            </tr>
            <tr><td class="tc">身份证：</td><td colspan="2" id="CERTIFICATE_NO_95013106">3504301992********</td><td class="tc">政治面貌：</td><td colspan="2">团员</td><td colspan="2" class="tc">婚姻状况：</td><td>未婚</td></tr>
            <tr><td class="tc">户&nbsp;口&nbsp;地：</td><td colspan="2">福建省三明市</td><td class="tc">视&nbsp;&nbsp;&nbsp;&nbsp;力：</td><td colspan="2">良好</td><td colspan="2" class="tc">身&nbsp;&nbsp;&nbsp;&nbsp;高：</td><td>167CM</td></tr>
            <tr><td class="tc">居&nbsp;住&nbsp;地：</td><td colspan="2">福建省厦门市湖里区</td><td class="tc">目前月薪：</td><td colspan="2"></td><td colspan="2" class="tc">体&nbsp;&nbsp;&nbsp;&nbsp;重：</td><td>KG</td></tr>
            <tr><td class="tc">专业职称：</td><td colspan="2">无职称</td><td class="tc">工作经验：</td><td colspan="5">4年工作经验/2013参加工作</td></tr>
            <tr><td class="tc">手机号码：</td><td colspan="2" id="MOBILE_NO_95013106">15659284668厦门</td><td class="tc">电子邮箱：</td><td colspan="6" id="EMAIL_95013106">ywq19920427@163.com</td></tr>
            <tr id="weixin_95013106cn"><td class="tc">微信号：</td><td colspan="2" id="WEIXIN_95013106">&nbsp;</td><td class="tc">QQ号：</td><td colspan="6" id="QQ_95013106">980678637</td></tr>
        </tbody>
        <tbody>
            <tr id="memo_95013106cn" class="noprint 95013106cn">
                <td class="tc">简历备注：</td>
                <td colspan="9" class="tf">非诚勿扰</td>
            </tr>
            <tr id="it_95013106cn"><td class="tc">电脑水平：</td><td colspan="9"><p>1.熟悉C#语言及面向对象编程思想</p><p></p><p>2.熟悉SqlServer,oracle 数据库,数据库高级对象的编写如存储过程、触发器、视图等</p><p></p><p>3.熟悉Asp.Net技术,并能使用Visual Studio等工具进行网站开发,熟悉 Html、Css+Div布局 以及Ajax、JavaScript,Jquery 等Web前端脚本技术,了解EA建模工具的使用，熟悉WebFrom项目开发流程</p><p></p><p>4.有asp.netMVC框架搭建及项目开发经验，主要是用MVC+EF实体框架进行开发,熟悉使用Linq语法</p><p></p><p>5.熟悉前端框架EasyUI，LigerUI，AngularJs,Bootstrap,熟练使用EasyUI进行网站后台管理系统搭建</p><p></p><p>6.可使用EChartsr，HChart，MsChart以及水晶报表实现页面报表呈现，熟悉的源代码管理工具有Svn、Tfs、Git</p><p></p><p>7.有WebService,WCF开发经验，了解WebApi，对SOA架构有所研究，了解常用的设计模式</p><p></p><p>8.熟悉站内搜索Lucene.net基本工作流程，以及程序的扩展开发</p><p></p><p>9.熟悉微信公众号开发，有多个微信商城开发经验</p></td></tr>
        </tbody>
        <tbody id="education_95013106cn">
            <tr><td colspan="10" class="tt">教 育 背 景</td></tr>
            <tr>
                <td style="width:120px;" colspan="2">2011-09/2014-06</td>
                <td style="width:193px;" colspan="2">厦门理工软件工程学院</td>
                <td style="width:194px;" colspan="4">计算机软件工程</td>
                <td style="width:142px;" colspan="2">大专(全日制普通高校)</td>
            </tr>
            <tr><td colspan="10"><p>可视化软件编程，主要开的课程有sqlserver数据库，C语言，C#</p><p></p><p>，ADO.NET,ASP.NET</p></td></tr>
        </tbody>
        <tbody id="experience_95013106cn">
            <tr><td colspan="10" class="tt">工 作 经 历</td></tr>
            <tr>
                <td style="width:120px;" colspan="2" class="tg">2015-04/2016-11</td>
                <td style="width:336px;" colspan="5">厦门产业互联科技有限公司(技术部)</td>
                <td style="width:194px;" colspan="3">.net研发工程师</td>
            </tr>
            <tr><td class="tc">所属行业：</td><td colspan="5">计算机软件</td><td colspan="2" class="tc">企业性质</td><td colspan="2">其他</td></tr>
            <tr><td colspan="10"><p>职责描述：b2b平台会员中心平台开发，网站前台维护，总管理后台系统搭建与开发,大量企业站建设、微信公众号开发，其中主要负责总管理后台的权限框架设计与整个后期的开发维护工作，权限涉及菜单权限，按钮权限以及数据权限，整个架构主要以mvc组件开发模式进行封装。其次还包括网站图片服务器的改写（改为独立服务器以跨域的方式进行上传），站内搜索的重整（利用开源全文搜索引擎lucene.net减轻数据库的访问压力）等.</p></td></tr>
            <tr><td style="width:120px;" colspan="2" class="tg">2014-05/2015-04</td><td style="width:336px;" colspan="5">厦门玉晶光电有限公司(IT资讯服务部门)</td><td style="width:194px;" colspan="3">软件工程师</td></tr>
            <tr><td class="tc">所属行业：</td><td colspan="5">计算机软件</td><td colspan="2" class="tc">企业性质</td><td colspan="2">台资、港资</td></tr>
            <tr><td colspan="10"><p>职责描述：主要负责asp.netMVC项目新框架的搭建和项目开发，以及公司现有的asp.net项目的二次开发和维护,存储过程编写和报表开发</p></td></tr>
            <tr><td style="width:120px;" colspan="2" class="tg">2013-11/2014-05</td><td style="width:336px;" colspan="5">厦门邑通信息科技有限公司(研发部)</td><td style="width:194px;" colspan="3">软件工程师</td></tr>
            <tr><td class="tc">所属行业：</td><td colspan="5">计算机软件</td><td colspan="2" class="tc">企业性质</td><td colspan="2">事业单位</td></tr>
            <tr><td colspan="10"><p>职责描述：web项目开发，主要有ERP，OA,完成项目经理分配模块各项功能，以及修改项目bug。</p></td></tr>
        </tbody>
        <tbody id="training_95013106cn">
            <tr><td colspan="10" class="tt">培 训 经 历</td></tr>
            <tr>
                <td style="width:120px;" colspan="2">2013-07/2013-11</td>
                <td style="width:251px;" colspan="3">厦门中软国际有限公司(厦门市软件园二期观日路二号)</td>
                <td style="width:279px;" colspan="5">主题.net(中软国际软件工程师结业证书)</td>
            </tr>
            <tr><td colspan="10"><p>c#基5.0基础语法、数据库课程、web技术课程 以及源代码管理软件的使用等</p></td></tr>
        </tbody>
        <tbody id="selfass_95013106cn"><tr><td width="12%" class="tc">自我评价：</td><td colspan="9"><p>性格活泼开朗有较好的沟通能力,热爱交流,热爱运动,热爱编程,喜欢逛博客园、前端网等技术论坛来学习行业新技术.</p><p></p><p>博客地址:http://siyouku.cn/  网站仍搭建中...</p><p></p><p></p><p></p><p>——生活不止眼前的苟且,还有鼠标和键盘</p></td></tr></tbody>
        <tbody id="intent_95013106cn"><tr><td colspan="10" class="tt">求 职 意 向</td></tr><tr><td width="12%" class="tc">工作地点：</td><td colspan="9">福建省、厦门市、厦门市海沧区、厦门市思明区、厦门市集美区、厦门市湖里区、厦门市翔安区、厦门市同安区</td></tr><tr><td width="12%" class="tc">意向行业：</td><td colspan="9">计算机/互联网/通信/电子、计算机软件</td></tr><tr><td width="12%" class="tc">意向岗位：</td><td colspan="9">计算机软件、互联网开发及应用</td></tr></tbody>
        <tbody id="promises_95013106cn" class="noprint 95013106cn"><tr><td colspan="10">厦门人才网提示：本简历信息仅供用人单位招聘面试使用，不得用于其他用途或泄露给第三方，招聘单位在面试时请根据证件原件承担进一步核实信息的义务和责任；信息用完后请及时销毁，不得随意扔弃。&nbsp;</td></tr></tbody>
    </table>
</div>
