
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>jquery鼠标悬停导航下划线滑出效果</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        html, body {
            height: 100%;
            font-size: 16px;
        }

        .main {
            height: 100%;
            background: #000;
            position: relative;
            overflow: hidden;
            color: #fff;
        }

            .main span {
                position: absolute;
                left: 100%;
                width: 100%;
            }

        .submit {
            position: absolute;
            left: 0;
            bottom: 0;
            background: blue;
            text-align: center;
            width: 100%;
            line-height: 6rem;
        }

        input {
            display: inline-block;
            width: 80%;
            line-height: 4rem
        }

        button {
            display: inline-block;
            width: 15%;
            line-height: 4rem;
            background: green;
        }

        .header {
            width: 100%;
            background: #3E4147;
            height: 50px;
        }

        .logo {
            float: left;
            height: 50px;
            margin: 0 25px;
        }

            .logo img {
                display: block;
                width: 60px;
                height: 40px;
                float: left;
                margin: 5px 0;
            }

            .logo span {
                display: block;
                float: left;
                font-size: 22px;
                color: #fff;
                line-height: 50px;
                margin-left: 15px;
                cursor: pointer;
            }

        .nav {
            width: 767px;
            height: 50px;
            float: left;
            overflow: hidden;
        }

            .nav ul {
                width: 767px;
                height: 50px;
            }

                .nav ul li {
                    height: 30px;
                    line-height: 30px;
                    float: left;
                    padding: 10px 5px;
                    margin: 0px 5px;
                    position: relative;
                }

                    .nav ul li a {
                        color: #cbcbcb;
                        font-family: 'Microsoft Yahei';
                        font-size: 14px;
                        text-decoration: none;
                    }

                        .nav ul li a:hover {
                            color: #6bc30d;
                        }

                    .nav ul li span {
                        display: block;
                        position: absolute;
                        width: 0px;
                        height: 0px;
                        background: #6bc30d;
                        top: 48px;
                        left: 50%;
                    }
    </style>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="~/Content/CommonImg/私.png" />
            <span>前端网</span>
        </div>
        <div class="nav">
            <ul>
                <li><a href="javascript:;">HTML/CSS</a><span></span></li>
                <li><a href="javascript:;">JavaScript</a><span></span></li>
                <li><a href="javascript:;">Node.js</a><span></span></li>
                <li><a href="javascript:;">手机移动</a><span></span></li>
                <li><a href="javascript:;">前端安全</a><span></span></li>
                <li><a href="javascript:;">性能优化</a><span></span></li>
                <li><a href="javascript:;">类库框架</a><span></span></li>
                <li><a href="javascript:;">开发调试</a><span></span></li>
                <li><a href="javascript:;">浏览器</a><span></span></li>
                <li><a href="javascript:;">面试经验</a><span></span></li>
            </ul>
        </div>
    </div>
    <div>
        <section class="main"></section>
        <section class="submit">
            <input type="text" placeholder="输入您的字幕" /><button>发送</button>
        </section>


    </div>

    <script type="text/javascript">
	function ZiMu(mainContent , submitButton , inputText){
		var flag = true;
		var clientHeight = document.body.clientHeight;
		mainContent.style.height = clientHeight + "px";
		window.onresize = function () {
			mainContent.style.height = document.body.clientHeight  - 6 * 16 +'px';
		};
		document.onkeydown = function( event) {
			var event = window.event || event;
			if ( event.keyCode === 13  ) {
				randomText();
			}
		};
		submitButton.onclick = function() {
			randomText();

		};
		function randomText() {
			if (flag === true ) {
				var text = inputText.value;
				var length = text.length;
				var p = document.createElement('span');
				p.style.color = randomColor();
				var random = randomFontSize(1,4);
				p.style.fontSize= random + 'rem';
				var randomHeight = randomFontSize(0,(document.body.clientHeight - 10 * 16));
				p.style.marginTop = randomHeight + 'px';
				p.innerText = text;
				mainContent.appendChild(p);
				var i = 1;
				var timer = setInterval(function() {
					p.style.left = i* document.body.clientWidth + 'px';
					i -= 0.004;
					if ( p.offsetLeft < -length * random * 16 ) {
						clearInterval(timer);
						mainContent.removeChild(p);
					}
				},50);
				inputText.value = '';
					flag = false;
			} else {
				alert('2秒内仅能提交一次哦！');
			}
			setTimeout(function() {
				flag = true;
			}, 2000);
		}
		function randomColor () {
    		return '#'+('00000'+(Math.random()*0x1000000<<0).toString(16)).slice(-6);
		}
		function randomFontSize (min , max) {
    		return (min+Math.random()*(max-min)).toFixed(2);
		}
	}
	var mainContent = document.querySelector('.main');
	var submitButton = document.querySelector('button');
	var inputText = document.querySelector('input');
	var zimu = new ZiMu(mainContent,submitButton,inputText);
    </script>
    <script>
      $(function(){
          $('.nav li').hover(function(){
              $(this).find('span').stop().css('height','2px');
              $(this).find('span').animate({
                  left:'0',
                  width:'100%',
              },200);
          },function(){
              $(this).find('span').stop().animate({
                  left:'50%',
                  width:'0'
              },200);
          });
      });
    </script>
</body>
</html>
